include mixins.pug
-section_number++
section(class="footer")
  div(class="footer__container").container
    .block
      .col
        .logo pizzashop
      .col
        ul
          li
            a Home
          li
            a To Order
          li
            a About us
          li
            a Events
          li
            a Menu
      .col
        ul
          li
            a Events
          li
            a 3 Pizza 1 Free Coffee
          li
            a 2 Pizza for 1 Price
          li
            a Kitchen Tour
      .col
        ul
          li
            a Menu
          li
            a Show All
          li
            a Seaproducts
          li
            a Vegan
          li
            a Meat
      .col
        ul
          li
            a About Us
          li
            a Our History
          li
            a Why We?
    .block
      .tel +7 (937) 333-55-33
        .socials
          img
          img
          img